.class-padding-left
{
  padding-left: 100px;
}

.class-padding-right
{
  padding-right: 100px;
}

.class-padding_top
{
  padding-top: 50px;
}

.align_center
{
  text-align: center;
  color: rgb(7, 87, 60);
}