.class-padding-left
{
  align-self: auto;
}

.class-padding-right
{
  padding-right: -600px;
}

.class-padding_top
{
  padding-top: 50px;
}

.align_center
{
  text-align: center;
  color: rgb(7, 87, 60);
}